.banner {
    position: relative;
    width: 100%;
    font-size: 0.9rem;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(227, 227, 227), gray);
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  
    & > div:first-of-type {
      position: absolute;
  
      width: 50%;
  
      & > p {
        width: 100%;
  
        font-size: 1.5rem;
  
        padding-left: 5vw;
  
        margin-bottom: 3vh;
      }
    }
  
    & img {
      width: 70vw;
  
      margin-left: 30vw;
    }
  }
  
  .parceiros {
    font-size: 1.25rem;
  
    padding: 3vw;
  
    background-color: cadetblue;
    justify-content: space-between;
  
    & > ul {
      list-style: none;
  
      display: flex;
      justify-content: space-between;
  
      margin-top: 3vh;
  
      & > li > div {
        text-align: center;
  
        & > img {
          margin-top: 1vh;
          width: 20vw;
        }
      }
    }
  }
  
  .carrosel {
    padding-top: 3vh;
    padding-bottom: 3vh;
    display: flex;
    justify-content: space-between;
  
    & > ul {
      width: 100%;
      list-style: none;
      display: flex;
      justify-content: space-around;
  
      padding-top: 3vh;
      padding-bottom: 3vh;
  
      & > li {
        text-align: center;
  
        & > button {
          margin-top: 2vh;
          cursor: pointer;
          background-color: skyblue;
          color: #0047ab;
          font-weight: bold;
  
          border: none;
          border-radius: 0.2rem;
  
          padding: 0.5vh 1.5vw;
  
          &:hover {
            color: white;
            background-color: #0047ab;
          }
        }
      }
    }
  
    & img {
      width: 20vw;
    }
  }
  
  .carrosel li:hover img{
      transform: scale(1.1);
  }
  
  .comentario {
    display: flex;
    justify-content: space-between;
  }
  